.shopping-main{
  flex: 1;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
}
  .send-tip-wrap{
    text-align: center;
    height: 90rpx;
    line-height: 90rpx;
  }
  .main{
    flex: 1;
    .goods-wrap {
      display: flex;
      justify-content: space-between;
      .goods-menu-wrap{
        width: 140rpx;
        overflow-x: hidden;
        overflow-y: hidden;
      }
      .goods-list-wrap{
        flex: 1;
      }
    }
  }
  .footer-wrap{
    width: 100%;
    height: 90rpx;
  }