@import "../../less/variable.less";
.merchant-info-wrap{
  height: 300rpx;
  position: relative;
  image{
    width: 100%;
    height: 100%;
  }
  .merchant-text{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(#fff, 0.3);
    padding: 0 30rpx;
    &>view{
      height: 48rpx;
      line-height: 48rpx;
      font-size: 28rpx;
    }
  }
}
.send-tip-wrap{
  text-align: center;
  height: 90rpx;
  line-height: 90rpx;
}
.search-wrap{
  height: 90rpx;
  padding: 0 30rpx;
  display: flex;
  align-items: center;
  input{
    height: 64rpx;
    line-height: 64rpx;
    font-size: 28rpx;
    text-indent: 10rpx;
    flex: 1;
  }
}
.layout-css{
  flex: 1;
  overflow: hidden;
  position: relative;
}
.goods-wrap {
  display: flex;
  justify-content: space-between;
  .goods-menu-wrap{
    width: 140rpx;
    // height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .goods-list-wrap{
    flex: 1;
    overflow-y: scroll;
  }
}